*, .sidebar ul ul, #vcuIdentityWrapper, #vcuIdentity h1, #vcuIdentity h2 { margin: 0; padding: 0; }

* { box-sizing: border-box; }

html { position: relative; width: 100%; min-height: 100%; background: #ebebeb; color: #444444; }

body { margin: 0 0 75px; background: url("../imgs/header_bg.png"); }

.wrap { margin: 25px auto 75px; width: 90%; max-width: 960px; padding: 25px; background: #f8f8f8; }

img { width: 100% !important; height: auto !important; }

.module { padding: 25px; }

.module-sm { padding: 10px; }

.header h2 { float: left; margin-top: 10px; margin-left: 25px; font-size: 40px; line-height: 60px; font-size: 2.5rem; line-height: 3.75rem; }
.header img { width: auto !important; height: auto !important; }

footer { background: #000; color: #fff; }
footer a { color: #F8B801; }
footer a:hover, footer a:focus { color: #795a00; }
footer a.t4Edit-page { display: inline-block; width: 14px; height: 20px; background: url("../imgs/pencil.gif") no-repeat; text-align: left; text-indent: -9999px; }
footer p { margin-bottom: 0; }
footer [class*='col-'] { margin-bottom: 0; }

.separator { border-bottom: 20px #F8B801 solid; }

.sidebar .nav { width: 100%; }
.sidebar li { width: 100%; border-top: 1px solid #ECF0F1; list-style: none; }
.sidebar a { display: block; padding: 10px; font-size: 14px; }
.sidebar a:hover, .sidebar a:focus { background: #eeeeee; text-decoration: none; }
.sidebar ul ul li a { padding-left: 37.5px; }
.sidebar ul ul ul li a { padding-left: 62.5px; }

body { visibility: visible !important; width: 100% !important; margin: 0 !important; padding: 0 !important; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, video { display: block; }

#vcuIdentityWrapper.identity-white { background-color: #ffffff; background-image: url(../imgs/identity/white/body-bg.gif) repeat-x top; }
#vcuIdentityWrapper.identity-white #vcuIdentity { background-color: #ffffff; }
#vcuIdentityWrapper.identity-white #vcuIdentity h1 a { background: url(../imgs/identity/white/vcubrand.gif) no-repeat; }
#vcuIdentityWrapper.identity-white #vcuIdentity h2 a { background: url(../imgs/identity/white/makeitreal.gif) no-repeat; }
#vcuIdentityWrapper.identity-gray { background-color: #585553; background-image: url(../imgs/identity/gray/body-bg.gif) repeat-x top; }
#vcuIdentityWrapper.identity-gray #vcuIdentity { background-color: #585553; }
#vcuIdentityWrapper.identity-gray #vcuIdentity h1 a { background: url(../imgs/identity/gray/vcubrand.gif) no-repeat; }
#vcuIdentityWrapper.identity-gray #vcuIdentity h2 a { background: url(../imgs/identity/gray/makeitreal.gif) no-repeat; }
#vcuIdentityWrapper.identity-black { background-color: #000000; background-image: url(../imgs/identity/black/body-bg.gif) repeat-x top; }
#vcuIdentityWrapper.identity-black #vcuIdentity { background-color: #000000; }
#vcuIdentityWrapper.identity-black #vcuIdentity h1 a { background: url(../imgs/identity/black/vcubrand.gif) no-repeat; }
#vcuIdentityWrapper.identity-black #vcuIdentity h2 a { background: url(../imgs/identity/black/makeitreal.gif) no-repeat; }
#vcuIdentityWrapper.identity-gold { background-color: #F8B801; background-image: url(../imgs/identity/gold/body-bg.gif) repeat-x top; }
#vcuIdentityWrapper.identity-gold #vcuIdentity { background-color: #F8B801; }
#vcuIdentityWrapper.identity-gold #vcuIdentity h1 a { background: url(../imgs/identity/gold/vcubrand.gif) no-repeat; }
#vcuIdentityWrapper.identity-gold #vcuIdentity h2 a { background: url(../imgs/identity/gold/makeitreal.gif) no-repeat; }

#vcuIdentityWrapper { display: block; height: 60px; text-align: left; }

#vcuIdentity { width: 100%; max-width: 982px; height: 54px; margin: 0 auto; padding: 0; }
#vcuIdentity header { width: 100%; max-width: 960px; margin: 0 auto; padding: 0; height: 60px; }
#vcuIdentity h1 a { display: block; width: 804px; height: 60px; margin: 0 0 0 30px; padding: 0; background: url(../imgs/identity/vcubrand.gif) no-repeat; text-decoration: none; text-indent: -9999px; border: 0; }
#vcuIdentity h1 a:hover { opacity: 1; }
#vcuIdentity h2 { float: right; }
#vcuIdentity h2 a { display: block; width: 109px; height: 31px; background: url(../imgs/identity/makeitreal.gif) no-repeat; margin: -37px 40px 0 0; padding: 0; border: 0; text-decoration: none; text-indent: -9999px; }
#vcuIdentity h2 a:hover { opacity: 1; }

#realLogo { display: none; position: relative; left: 0; bottom: 0; width: 100%; height: 50px; margin-top: -50; background-color: #000; clear: both; }
#realLogo h1 { margin: 0; padding: 0; background-color: #000; font-size: 30px; }
#realLogo h1 a { display: block; width: 280px; height: 30px; margin: 0 auto; padding: 0; background: url(../imgs/identity/makeitrealFooter.gif) no-repeat; text-indent: -9999px; }
#realLogo h2 { margin: 0; padding: 0; font-size: 15px; background-color: #000; }
#realLogo h2 a { display: block; width: 280px; height: 15px; margin: 0 auto; padding: 0; background: url(../imgs/identity/vcubar-footer.gif) no-repeat; text-indent: -9999px; }

@media screen and (max-width: 995px) { #vcuIdentityWrapper { height: 54px !important; }
  #vcuIdentityWrapper.identity-white { background: #ffffff url(../imgs/identity/white/body-bg-768.gif) repeat-x top !important; }
  #vcuIdentityWrapper.identity-white #vcuIdentity h1 a { background: url(../imgs/identity/white/vcubrand-768.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-gray { background: #585553 url(../imgs/identity/gray/body-bg-768.gif) repeat-x top !important; }
  #vcuIdentityWrapper.identity-gray #vcuIdentity h1 a { background: url(../imgs/identity/gray/vcubrand-768.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-black { background: #000000 url(../imgs/identity/black/body-bg-768.gif) repeat-x top !important; }
  #vcuIdentityWrapper.identity-black #vcuIdentity h1 a { background: url(../imgs/identity/black/vcubrand-768.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-gold { background: #F8B801 url(../imgs/identity/gold/body-bg-768.gif) repeat-x top !important; }
  #vcuIdentityWrapper.identity-gold #vcuIdentity h1 a { background: url(../imgs/identity/gold/vcubrand-768.gif) no-repeat !important; }
  #vcuIdentity { max-width: 840px !important; }
  #vcuIdentity h1 a { width: 659px !important; }
  #vcuIdentity h2 a { margin-top: -41px !important; } }
@media screen and (max-width: 873px) { body { background-position: 0 48px !important; }
  #vcuIdentityWrapper { height: 48px; }
  #vcuIdentityWrapper.identity-white { background: #ffffff url(../imgs/identity/white/body-bg-600.gif) repeat-x top; }
  #vcuIdentityWrapper.identity-white #vcuIdentity h1 a { background: url(../imgs/identity/white/vcubrand-600.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-white #vcuIdentity h2 a { background: url(../imgs/identity/white/makeitreal-600.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-gray { background: #585553 url(../imgs/identity/gray/body-bg-600.gif) repeat-x top; }
  #vcuIdentityWrapper.identity-gray #vcuIdentity h1 a { background: url(../imgs/identity/gray/vcubrand-600.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-gray #vcuIdentity h2 a { background: url(../imgs/identity/gray/makeitreal-600.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-black { background: #000000 url(../imgs/identity/black/body-bg-600.gif) repeat-x top; }
  #vcuIdentityWrapper.identity-black #vcuIdentity h1 a { background: url(../imgs/identity/black/vcubrand-600.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-black #vcuIdentity h2 a { background: url(../imgs/identity/black/makeitreal-600.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-gold { background: #F8B801 url(../imgs/identity/gold/body-bg-600.gif) repeat-x top; }
  #vcuIdentityWrapper.identity-gold #vcuIdentity h1 a { background: url(../imgs/identity/gold/vcubrand-600.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-gold #vcuIdentity h2 a { background: url(../imgs/identity/gold/makeitreal-600.gif) no-repeat !important; }
  #vcuIdentity { max-width: 670px !important; margin: 0 auto; }
  #vcuIdentity header { height: 48px !important; }
  #vcuIdentity h1 a { width: 519px !important; border: 0 !important; text-decoration: none !important; }
  #vcuIdentity h2 a { width: 84px !important; height: 39px !important; margin-top: -46px !important; border: 0 !important; text-decoration: none !important; } }
@media screen and (max-width: 768px) { #vcuIdentity { max-width: 670px !important; margin: 0 auto; } }
@media screen and (max-width: 767px) { #vcuIdentityWrapper #wrapper, #vcuIdentityWrapper #wrap, #vcuIdentityWrapper #content, #vcuIdentityWrapper #container, #vcuIdentityWrapper .wrapper, #vcuIdentityWrapper .wrap, #vcuIdentityWrapper .content, #vcuIdentityWrapper .container { min-height: 100%; padding-bottom: 50px; }
  body { background-position: 0 35px !important; }
  #vcuIdentityWrapper { height: 35px !important; }
  #vcuIdentityWrapper.identity-white { background: #ffffff url(../imgs/identity/white/body-bg-sm.gif) repeat-x top !important; }
  #vcuIdentityWrapper.identity-white #vcuIdentity h1 a { background: url(../imgs/identity/white/vcuseal.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-gray { background: #585553 url(../imgs/identity/gray/body-bg-sm.gif) repeat-x top !important; }
  #vcuIdentityWrapper.identity-gray #vcuIdentity h1 a { background: url(../imgs/identity/gray/vcuseal.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-black { background: #000000 url(../imgs/identity/black/body-bg-sm.gif) repeat-x top !important; }
  #vcuIdentityWrapper.identity-black #vcuIdentity h1 a { background: url(../imgs/identity/black/vcuseal.gif) no-repeat !important; }
  #vcuIdentityWrapper.identity-gold { background: #F8B801 url(../imgs/identity/gold/body-bg-sm.gif) repeat-x top !important; }
  #vcuIdentityWrapper.identity-gold #vcuIdentity h1 a { background: url(../imgs/identity/gold/vcuseal.gif) no-repeat !important; }
  #vcuIdentity { height: 35px !important; }
  #vcuIdentity header { height: 35px !important; }
  #vcuIdentity h1 a { width: 99px !important; height: 35px !important; margin: 0 auto !important; border: 0 !important; text-decoration: none !important; }
  #vcuIdentity h2 a { display: none !important; border: 0 !important; text-decoration: none !important; }
  #realLogo { display: block !important; } }
html { font-size: 18px; }

body { font-family: helvetica, sans-serif; }

h1, h2, h3, p, ul, ol { margin: 0 0 10px; }

p, ul, ol { font-size: 16px; line-height: 24px; font-size: 1rem; line-height: 1.5rem; }

ul { padding: 0 0 0 50px; }
@media screen and (max-width: 768px) { ul { padding: 0 0 0 25px; } }
ul.social { text-align: center; }
ul.social li { display: inline; list-style: none; margin-left: 10px; }

a { color: #F8B801; }
a:hover, a:focus { color: #c59201; }

pre { margin: 10px 0; padding: 10px; border: 1px solid #F8B801; background: #ebebeb; color: #444444; }

.content #randomImage img { padding-bottom: 25px; }

.news-excerpt { border-bottom: 1px solid #ECF0F1; margin: 10px 0; padding: 10px; }
.news-excerpt:last-child { border: none; }
.news-excerpt a { max-width: 30%; }
.news-meta { color: #BDC3C7; font-style: italic; }

.staff-profile .row { padding-top: 0; }
.staff-info { border-radius: 10px; background: #f5f5f5; }
.staff-info p { padding: 10px; }

@media screen and (max-width: 992px) { html { font-size: 16px; }
  .wrap { width: 92%; } }
@media screen and (max-width: 768px) { html { background: #f8f8f8; font-size: 14px; }
  .wrap { width: 95%; padding: 0; background: none; }
  .header h1 a, .header h2 { width: 100%; text-align: center; }
  .header h2 { margin-left: 0; }
  .sidebar { background: whitesmoke; }
  .jumbotron { border-bottom: none; }
  footer .social { float: left; width: 100%; text-align: center; }
  .news-excerpt a img { display: none; } }
body { background: #ebebeb; }

.content.container { padding-bottom: 25px; background: #fff; }

.nav-align-center { display: table; table-layout: fixed; float: none; margin: 0 auto; }
.nav-align-right { float: right; }
.nav-align-left { float: left; }

@media screen and (max-width: 768px) { .nav-align-center { display: block; float: left; }
  .nav-align-right { float: left; } }
.navbar { margin-bottom: 0; border: #F8B801 1px solid; background: #F8B801; border-radius: 0; }
.navbar li { border-left: 1px solid #dfa501; }
@media screen and (max-width: 768px) { .navbar li { border-left: none; } }
.navbar li:last-child { border-right: 1px solid #dfa501; }
@media screen and (max-width: 768px) { .navbar li:last-child { border-right: none; } }

.navbar-collapse { max-height: auto; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text { color: #444444; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-text:hover { color: #000; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { color: #000; }

.navbar-default .navbar-toggle .icon-bar { background-color: #000; }

.navbar-default .navbar-toggle { border-color: #000; }

.navbar-nav ul { display: none; }
.navbar-nav ul li { border: none; padding: 10px; list-style: none; }
.navbar-nav ul a { color: #444444; }
.navbar-nav ul a:hover, .navbar-nav ul a:focus { text-decoration: none; }
@media screen and (max-width: 768px) { .navbar-nav ul { display: block; } }

.row { padding-top: 25px; padding_bottom: 25px; }

ul.media-list { float: left; }
ul.media-list .media { float: left; }
ul.media-list .media-body { float: left; }
ul.media-list img { display: inline; width: auto !important; }

.well.alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.well.alert-info { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
.well.alert-warning { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
.well.alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

.jumbotron { margin: 0; background: #F8B801; color: #444444; color: #444444; }
.jumbotron a { color: #f8f8f8 !important; }
.jumbotron a { color: #F8B801; }
.container .jumbotron { margin: 25px 0; }

.content .carousel, form { margin-bottom: 25px; }

.carousel-caption { left: 0; right: 0; bottom: 0; padding: 25px; text-align: left; width: 100%; background: rgba(0, 0, 0, 0.7); }
@media screen and (max-width: 768px) { .carousel-caption { position: relative; padding: 10px; background: #444444; } }

.carousel-fade .carousel-inner .item { opacity: 0; -webkit-transition-property: opacity; transition-property: opacity; }
.carousel-fade .carousel-inner .active { opacity: 1; }
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { z-index: 1; left: 0; opacity: 0; }
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }
.carousel-fade .carousel-control { z-index: 2; }

.slice { background: #F8B801; }
.slice .content { background: #F8B801; }

.home .container.full { width: auto; padding: 0; }
.home .container.full .carousel, .home .container.full #randomImage img { margin: 0; padding: 0; }

.inner .content.container .content.container { width: auto !important; padding: 0; }
.inner .content.container .jumbotron .container { width: auto; }

footer .content.container { background: none; }
footer .content.container .content.container { padding: 0; }
