<!----
<Plain text: Title 1>
<HTML: Content 1>
<Plain text: Title 2>
<HTML: Content 2>
-->

<div class="row">
    <div class="col-md-6">
        <!-- @Plain text: Title 1 --><h2>Nullam id dolor id nibh ultricies vehicula ut id elit.</h2><!-- @Plain text: Title 1 -->
        <!-- @HTML: Content 1 --><p>Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p><!-- @HTML: Content 1 -->
    </div>
    <div class="col-md-6">
        <!-- @Plain text: Title 2 --><h2>Nullam id dolor id nibh ultricies vehicula ut id elit.</h2><!-- @Plain text: Title 2 -->
        <!-- @HTML: Content 2 --><p>Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla.</p><!-- @HTML: Content 2 -->
    </div>
</div>
