---
button-text: Yo
button-link-external: www.google.com
button-link-internal: #
button-color: default
button-size: default
button-full-width: true
button-alignment: center
---
<a href="#" class="btn btn-primary btn-lg text-center pull-right">{{ button.button-text }}</a>