<div class="module">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/100x100/56a5eb/ffffff/&text=100x100px" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut numquam dolor aspernatur deserunt, laboriosam fugit. Provident possimus iste suscipit, nam molestias explicabo? Cupiditate eaque odit debitis possimus tenetur rerum officia sapiente laudantium assumenda libero corrupti distinctio, quidem necessitatibus. Nihil quaerat veritatis tempora veniam possimus sed id incidunt eius sunt atque!
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/100x100/56a5eb/ffffff/&text=100x100px" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis corporis, labore quos officiis sit, sint voluptate adipisci non error velit. Quidem, aliquam, praesentium. Laudantium, totam minima voluptatibus velit mollitia quo. Incidunt vel voluptatem est officia ad debitis similique, optio sunt laboriosam assumenda quam! Laboriosam eaque, beatae odit aliquid vero aperiam.
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/100x100/56a5eb/ffffff/&text=100x100px" alt="...">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet odit, quia, nobis iste veritatis sit quidem explicabo eveniet neque sequi deserunt eius saepe ullam id ut a. Unde optio nemo sit maxime voluptatibus, quas, debitis, temporibus aliquam nihil blanditiis quam dignissimos sapiente enim pariatur at consequuntur. At dignissimos unde eum!
        </div>
    </div>
</div>
