---
Background-URL: imgs/stock-lg/7.jpg
Text-Color: white
Content: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione facilis beatae iusto hic quia laborum amet illo! Tempora facere, porro non ipsa quisquam velit quae dolores libero, nulla vero ratione.Quidem eligendi repellendus nostrum, perspiciatis? Officiis voluptatum, amet ullam sunt, repudiandae voluptate culpa architecto quae nesciunt, in velit esse sequi enim deleniti illum debitis libero necessitatibus ab! Deleniti quod deserunt tenetur vero dolores facere reprehenderit hic excepturi accusantium quia, quae aut dicta sequi, omnis asperiores, consectetur maxime reiciendis exercitationem debitis. Explicabo repellat, ea nulla earum suscipit doloribus tempore, quidem cupiditate nihil, mollitia, totam est laborum inventore? Non voluptatum, consectetur quam.
---
<div class="jumbotron" style="background: url('{{ jumbotron.Background-URL }}') center center no-repeat; background-size: cover; color: {{ jumbotron.Text-Color }};">
	<div class="container">
		<p>{{ jumbotron.Content }}</p>
	</div>
</div>