---
---
<h2>Latest News</h2>

<div class="news-excerpt media">
  <div class="media-body">
    <small class="text-muted">December 16th, 2014</small>
    <a href="#"><h4 class="media-heading">VCU’s 'Lobs & Lessons' hosts nighttime glow-in-the-dark tennis event</h4></a>
  </div>
</div>

<div class="news-excerpt media">
  <div class="media-body">
    <small class="text-muted">December 16th, 2014</small>
    <a href="#"><h4 class="media-heading">STAT honored as top student advancement program in the country</h4></a>
  </div>
</div>

<div class="news-excerpt media">
  <div class="media-body">
    <small class="text-muted">December 16th, 2014</small>
    <a href="#"><h4 class="media-heading">Professor's book examines gentrification of Damascus</h4></a>
  </div>
</div>