---
---
<div class="news-excerpt media">
  <a class="pull-left" href="#">
    <img class="media-object" src="imgs/stock-sm/1.jpg" alt="...">
  </a>
  <div class="media-body">
    <a href="#"><h3 class="media-heading">Media heading</h3></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos numquam vero hic voluptatibus saepe veritatis inventore, est praesentium nesciunt error molestiae alias libero possimus tempora, officia totam? Ipsum laudantium aut nesciunt, debitis consectetur cumque eum eligendi vitae quisquam consequuntur, ut ratione commodi dolorem quis eaque ad totam, temporibus earum hic.</p>
  </div>
</div>

<div class="news-excerpt media">
  <a class="pull-left" href="#">
    <img class="media-object" src="imgs/stock-sm/1.jpg" alt="...">
  </a>
  <div class="media-body">
    <a href="#"><h3 class="media-heading">Media heading Lorem ipsum dolor sit amet, consectetur.</h3></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos numquam vero hic voluptatibus saepe veritatis inventore, est praesentium nesciunt error molestiae alias libero possimus tempora, officia totam? Ipsum laudantium aut nesciunt, debitis consectetur cumque eum eligendi vitae quisquam consequuntur, ut ratione commodi dolorem quis eaque ad totam, temporibus earum hic.</p>
  </div>
</div>

<div class="news-excerpt media">
  <a class="pull-left" href="#">
    <img class="media-object" src="imgs/stock-sm/1.jpg" alt="...">
  </a>
  <div class="media-body">
    <a href="#"><h3 class="media-heading">Media heading</h3></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos numquam vero hic voluptatibus saepe veritatis inventore, est praesentium nesciunt error molestiae alias libero possimus tempora, officia totam? Ipsum laudantium aut nesciunt, debitis consectetur cumque eum eligendi vitae quisquam consequuntur, ut ratione commodi dolorem quis eaque ad totam, temporibus earum hic.</p>
  </div>
</div>