---
Background-Color:
Text-Color: 
---
<div class="slice" style="background: {{ slice.Background-Color }}; color: {{ slice.Text-Color }};">
	<div style="background: {{ slice.Background-Color }};">

    	{{> 2-columns }}

    	{{> 3-columns }}

	</div>
</div>