---
Background-Color: 
Text-Color: 
---
</div>
<div class="slice" style="background: {{ slice.Background-Color }}; color: {{ slice.Text-Color }};">
	<div class="content container" style="background: {{ slice.Background-Color }};">

    	{{> 2-columns }}

	</div>
</div>
<div class="content container">
