---
Background-Color: 
Text-Color: 
---
</div>
<div class="window" style="background: {{ window.Background-Color }}; color: {{ window.Text-Color }};">
	<div class="content container" style="background: {{ window.Background-Color }};">
    	{{> 2-columns }} 
	</div>
</div>
<div class="content container">
