.sidebar
  .nav
    width: 100%
  li
    width: 100%
    border-top: 1px solid #eeeeee
    list-style: none
  a
    display: block
    padding: $pad-sm
    font-size: 14px
    &:hover, &:focus
      background: #eeeeee
      text-decoration: none
  ul ul
    @extend %nospace
    li a
      padding-left: $pad*1.5
    ul
      li a
        padding-left: $pad*2.5
