/* body font */
html
	font-size: 18px
body
	background: yellow

/* typography */
a
	color: #c1272d
	&:focus, &:hover
		color: #971e23

/* header */
header.site--title
	background: url(http://subtlepatterns.com/patterns/footer_lodyas.png)
.header a
	color: #ffffff
	&:hover, &:focus
		color: #333333

/* navbar */
.navbar
	background: #f8f8f8
	border-color: #333333
	li
		border-color: #333333
		&:last-child
			border-color: #333333

/* navbar - dropdown */
.navbar li:hover
	background-color: yellow
.navbar-default .navbar-nav li:hover a
	background-color: purple
.navbar-default .navbar-nav li:hover>ul li:hover a
	background-color: blue
.navbar-default .navbar-nav li:hover > ul li:hover li a:hover
	background-color: aqua
#mobile-nav .mm-list li a:hover
	background-color: green
#mobile-nav .mm-list li .mm-subopen:after
	border-color: navy


/* search bar */
.search-container
	background: pink

/* footer */
footer
	background: red
	h1, h2, h3, h4, h5, h6, p, small
		color: black
	a
		color: pink 
		&:hover, &:focus
			color: orange

/* slice */
.slice, .slice .content
	background: pink