<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Test106 - Virginia Commonwealth University</title>

    <!-- build:css css/global.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap-sass/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="../css/global.css">
    <!-- endbuild -->
    <link rel="icon" href="../imgs/favicon.ico" type="image/x-icon">

    <script href="../bower_components/modernizr/modernizr.js"></script>
</head>

<body class="home">
    {{> vcu-identity }}

    {{> site-title }}
        
    {{> body }} 


    <footer>
        {{> 2-columns }}

        
        {{> footer }}
   
        {{> social-media }}
             
                                
    </footer>

    <div id='realLogo'>
        <header>
            <h1><a href='http://www.makeitreal.vcu.edu' target='_blank' title='VCU Make it real.'>Make it real.</a>
            </h1>
            <h2><a href='http://www.vcu.edu' target='_blank' title='Virginia Commonwealth University'>Virginia Commonwealth University</a>
            </h2>
        </header>
    </div>

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <!-- build:js js/global.min.js -->
    <!-- bower:js -->
    <script src="../../bower_components/modernizr/modernizr.js"></script>
    <script src="../../bower_components/bootstrap-sass/dist/js/bootstrap.js"></script>
    <script src="../../bower_components/picturefill/dist/picturefill.js"></script>
    <script src="../../bower_components/respond/dest/respond.src.js"></script>
    <script src="../../bower_components/fitvids/jquery.fitvids.js"></script>
    <!-- endbower -->
    <script href="../js/_init.js"></script>
    <!-- endbuild -->

    {{> google-analytics }}

    <!--REMOVE BEFORE PRODUCTION -->
    <script src="http://localhost:35729/livereload.js"></script>
    <!--REMOVE BEFORE PRODUCTION -->
</body>

</html>
