---
---
<ul class="nav navbar-nav">
    <li><a href="inner.html">Inner</a>
    </li>
    <li><a href="news.html">News</a>
    </li>
    <li><a href="components.html">Components</a>
    </li>
    <li><a href="staff.html">Staff</a>
    </li>
</ul>
