<ul class="nav navbar-nav">
    <li><a href="/">Home</a>
    </li>
    <li><a href="#">Letter from the Director</a>
    </li>
    <li><a href="#">Inspiring Stories</a>
        <ul class="multilevel-linkul-0">
            <li><a href="#">Leading Progress</a>
            </li>
            <li><a href="#">Transforming Treatments</a>
            </li>
            <li><a href="#">Introducing New Options</a>
            </li>
            <li><a href="#">Examining Implications</a>
            </li>
        </ul>
    </li>
    <li><a href="#">By the Numbers</a>
    </li>
    <li><a href="#">Virginia's Cancer Resource</a>
    </li>
    <li><a href="#">Research for Life</a>
    </li>
    <li><a href="#">Donor Listing</a>
    </li>
    <li><a href="#">Board Listing</a>
    </li>
</ul>
