---
Department-Logo: http://placehold.it/200x100/56a5eb/ffffff/&text=200x100px
Department-Name: Generic Department
---
<div class="header container module">
    <h1>
        <a class="pull-left" href="index.html">
            <img src="{{ site-title.Department-Logo }}" alt="{{ site-title.Department-Name }}" />
        </a>
    </h1>
    <h2>{{ site-title.Department-Name }}</h2>
</div>
