---
Department-Logo: http://placehold.it/200x100/56a5eb/ffffff/&text=200x100px
Department-Name: Generic Department
---
<header class="site--title">
	<div class="header container module">
	    <h1>
	        <a class="pull-left" href="index.html">
	            <img src="{{ site-title.Department-Logo }}" alt="{{ site-title.Department-Name }}" />
	        </a>
	    </h1>
	    <h2><a href="#">Generic Department</a></h2>
	    <ul class="quicklinks list-inline">
			<li>
				<a href="#">Blackboard</a>
			</li>
			<li>
				<a href="#">Email</a>
			</li>
			<li>
				<a href="#">Staff intranet</a>
			</li>
			<li>
				<a href="#">Contact us</a>
			</li>
		</ul>
	</div>
</header>
